<!DOCTYPE html>
<!--<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="form"   uri="http://www.springframework.org/tags/form" %>

<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core_rt" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jstl/fmt_rt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"  %>-->
<!--<% String path=request.getContextPath() + "/resources";%>
<% String pathHost=request.getContextPath();%>-->



<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<!-- Optional theme -->
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"></link>
<!-- Latest compiled and minified JavaScript -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>&#x62DB;&#x5FB7;&#x5EAB;&#x5B58;&#x7CFB;&#x7D71;</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/DannyStorageWebGAE/}">&#x62DB;&#x5FB7;&#x5EAB;&#x5B58;&#x7CFB;&#x7D71;</a>
      </div>
    </div>
  </nav>

  <div id="companyListDiv" style="margin-top: 100px;">
    <div th:if="${not #lists.isEmpty(companyList)}">
      <div style="text-align: left; font-size: 24px;">
        &#x5BA2;&#x6236;&#x6E05;&#x55AE;</div>
      <div style="height: 29px;">
        <table style="margin-top: 10px;"
          class="table table-hover table-condensed table-striped table-bordered list">
          <thead>
            <tr class="parts-title">
              <th class="tdclass" style="width: 20%;">
                <div style="float: left;"></div>
              </th>
              <th class="tdclass" style="width: 40%;">
                <div style="float: left;">&#x5BA2;&#x6236;&#x540D;&#x7A31;</div>
              </th>
              <th class="tdclass" style="width: 40%;">
                <div style="float: left;">&#x8A73;&#x7D30;&#x8CC7;&#x6599;</div>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div style="margin-top: 0px;">
        <div th:if="${#lists.size(companyList) &gt; 10}">
          <div style="height: 291px; overflow-y: scroll;">
            <table
              class="table table-hover table-condensed table-striped table-bordered list">
              <tbody>
                <tr th:each="obj,iterationStatus : ${companyList}">
                  <!--  <td th:text="${status }"></td>-->
                  <td style="width: 20%"><div th:text="${obj.ID}"></div></td>
                  <td style="width: 40%"><div
                      th:text="${obj.companyName}"></div></td>
                  <td style="width: 37%"><a
                    th:href="@{/DannyStorageWebGAE/searchProductList(searchCompanyName=${obj.companyName})}">&#x7522;&#x54C1;&#x6E05;&#x55AE;</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div th:if="${#lists.size(companyList) &lt; 11}">
          <div>
            <table
              class="table table-hover table-condensed table-striped table-bordered list">
              <tbody>
                <tr th:each="obj,iterationStatus : ${companyList}">
                  <!--  <td th:text="${status }"></td>-->
                  <td style="width: 20%"><div th:text="${obj.ID}"></div></td>
                  <td style="width: 40%"><div
                      th:text="${obj.companyName}"></div></td>
                  <td style="width: 40%"><a
                    th:href="@{/DannyStorageWebGAE/searchProductList(searchCompanyName=${obj.companyName})}">&#x7522;&#x54C1;&#x6E05;&#x55AE;</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="productListDiv" style="margin-top: 50px;">
    <div th:if="${not #lists.isEmpty(productListByCompany)}">
      <div style="text-align: left; font-size: 24px;">
        &#x5BA2;&#x6236; : <b th:text="${companyName}"></b> <br></br>
        &#x7522;&#x54C1;&#x6E05;&#x55AE;
      </div>
      <div style="height: 29px;">
        <table style="margin-top: 10px;"
          class="table table-hover table-condensed table-striped table-bordered list">
          <thead>
            <tr class="parts-title">
              <th class="tdclass" style="width: 10%;">
                <div style="float: left;"></div>
              </th>
              <th class="tdclass" style="width: 20%;">
                <div style="float: left;">&#x7522;&#x54C1;&#x7DE8;&#x865F;</div>
              </th>
              <th class="tdclass" style="width: 20%;">
                <div style="float: left;">&#x7522;&#x54C1;&#x540D;&#x7A31;</div>
              </th>
              <th class="tdclass" style="width: 10%;">
                <div style="float: left;">&#x9644;&#x8A3B;</div>
              </th>
              <th class="tdclass" style="width: 20%;">
                <div style="float: left;">&#x5EAB;&#x5B58;&#x5730;&#x9EDE;</div>
              </th>
              <th class="tdclass" style="width: 10%;">
                <div style="float: left;">&#x5BA2;&#x6236;&#x7DE8;&#x865F;</div>
              </th>
              <th class="tdclass" style="width: 10%;">
                <div style="float: left;">&#x5EAB;&#x5B58;&#x6578;&#x91CF;</div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div style="margin-top: 0px;">
        <div
          th:if="${#lists.size(productListByCompany) &gt;
        10}">
          <div style="height: 291px; overflow-y: scroll;">
            <table
              class="table table-hover table-condensed table-striped table-bordered list">
              <tbody>
                <tr th:each="obj,iterationStatus : ${productListByCompany}">
                  <!--  <td th:text="${status }"></td>-->
                  <td style="width: 10%"><div th:text="${iterationStatus.count}"></div></td>
                  <td style="width: 20%"><div th:text="${obj.ID}"></div></td>
                  <td style="width: 20%"><a
                    th:href="@{/DannyStorageWebGAE/searchProductDetail(searchCompanyName=${companyName},searchProductName=${obj.name})}" th:text="${obj.name}"></a></td>
                  <td style="width: 10%"><div th:text="${obj.note}"></div></td>
                  <td style="width: 20%"><div
                      th:text="${obj.location}"></div></td>
                  <td style="width: 10%"><div
                      th:text="${obj.belingcompanyID}"></div></td>
                  <td style="width: 9%"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--  </c:if>-->
        <div
          th:if="${#lists.size(productListByCompany) 
        &lt; 11}">
          <div>
            <table
              class="table table-hover table-condensed table-striped table-bordered list">
              <tbody>
                 <tr th:each="obj,iterationStatus : ${productListByCompany}">
                  <!--  <td th:text="${status }"></td>-->
                  <td style="width: 10%"><div th:text="${iterationStatus.count}"></div></td>
                  <td style="width: 20%"><div th:text="${obj.ID}"></div></td>
                  <td style="width: 20%"><a
                    th:href="@{/DannyStorageWebGAE/searchProductDetail(searchCompanyName=${companyName},searchProductName=${obj.name})}" th:text="${obj.name}"></a></td>
                  <td style="width: 10%"><div th:text="${obj.note}"></div></td>
                  <td style="width: 20%"><div
                      th:text="${obj.location}"></div></td>
                  <td style="width: 10%"><div
                      th:text="${obj.belingcompanyID}"></div></td>
                  <td style="width: 10%"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <footer>
    <br></br>
      <p>&copy; DANNY Inc.</p>
    </footer>
  </div>


</body>
</html>